.service{
    border: 1px solid aqua;
    border-radius: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.service img{
    width: 260px;
    height: 230px;
    object-fit: cover;
}
.btn {
    box-sizing: border-box;
    background-color: seagreen;
    border: 2px solid aqua;
    border-radius: 0.6em;
    color: red;
    cursor: pointer;
    font-weight: 400;
    line-height: 1;
    padding: 1em 2.8em;
    text-align: center;
    text-transform: uppercase;
  }